video {
  object-fit:fill;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.App {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.App > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -150px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.App > p {
  margin-top: 10px;
  color: #fff;
  font-size: 32px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
