.response-container {
    margin-left: 510px;
    background-color: #F4EBE6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 800px;
    margin-top: 20px; /* Adjust the margin as needed */
    padding: 10px;
    border: 2px solid #000;
 }
 
 .loading-spinner {
    margin-top: 20px; /* Adjust the margin as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Set a fixed height or adjust as needed */
 }
 